.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: transparent;
  font-size: 2rem;
  font-family: $secondary-font;
  color: $color-white;
  padding: 2.4rem 4rem 2.4rem 4rem;
  border: $color-white 1px solid;
  border-radius: 5rem;
}
.btn:active,
.btn:hover {
  border: $color-border 2px solid;
  background-color: #fff;
  color: $color-border;
  transition: all 0.1s ease-in;
}

.btn-white,
.btn-white:link,
.btn-white:visited {
  display: inline-block;
  background-color: transparent;
  font-size: 2rem;
  font-family: $secondary-font;
  margin-top: 6rem;
  color: $color-border;
  padding: 2.4rem 4rem 2.4rem 4rem;
  border: $color-border 1px solid;
  border-radius: 5rem;
}
.btn-white:active,
.btn-white:hover {
  border: $color-border 2px solid;
  transition: all 0.1s ease-in;
  background-color: $color-border;
  color: $color-white;
}
.link,
.link :link,
.link:visited{
  display: inline-block;
  font-size: 2rem;
  font-family: $secondary-font;
  text-decoration: none;
  color: $color-border;
}
.link:active,
.link:hover{
    color: $color-grey-1;
}