

  // @include respond(tab-land) {
  //   width: 75vw;
  // }

  // @include respond(tab-port) {
  //   width: 80vw;
  // }


.mb-big {
  margin-bottom: 6.4rem;
}

.mb-mid {
  margin-bottom: 3.2rem;
}
.mt-big{
  margin-top: 4rem;
}
.mt-small{
  margin-top: 2rem;
}
.center {
  text-align: center;
  margin: 1.5rem 0;
}
.small{
  font-size: 1.7rem;

  @include respond(tab-land) {
    font-size: 2rem;
  }
}
.blue{
  background-color: blue !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay{
  position: absolute;
  width: 100vw;
  color: $color-border;
}
.arrow{
  color: $color-white;
  padding-left: 2rem;
  }