.contact {
background-color: #ededed;
  border-bottom: 1px solid $color-background;
  h1 {
    padding: 2.5rem 2rem;
    text-align: center;
    color: $color-border;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-content: center;
    gap: 25rem;
    padding: 7rem 13rem;
    margin-bottom: 6rem;
    @include respond(tab-land) {
      display: flex;
      flex-direction: column-reverse;
    }
    &--footer {
      display: flex;
      justify-content: space-between;

      &--row {
        @include respond(tab-land) {
          margin-top: 4rem;
        }
        @include respond(tab-port) {
          margin-top: 4rem;
        }
        @include respond(sm-phone) {
          margin-top: 6rem;
          text-align: center;
        }

        h3 {
          font-size: 3.6rem;
          letter-spacing: 1.6px;
          margin-bottom: 5rem;
          color: $color-border;
          text-transform: capitalize;
          @include respond(big-phone) {
            font-size: 4rem;
            margin-bottom: 4rem;
          }
        }
        ul {
          text-align: center;
          text-transform: uppercase;
        }
        a {
          display: inline-block;
          font-size: 1.4rem;
          font-family: $secondary-font;
          margin-bottom: 2rem;
          color: $color-border;
          text-align: center;
          cursor: pointer;
          letter-spacing: 1.9px;
          @include respond(tab-land) {
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
          }
          @include respond(big-phone) {
            font-size: 2rem;
            margin-bottom: 1.5rem;
          }
        }
      }
    }
    &--form {
      p {
        font-size: 1.4rem;
        font-family: $secondary-font;
        text-transform: uppercase;
      }
      .input-field {
        margin-bottom: 5rem;
        background-color: $color-white;
        outline: none;
        width: 60rem;
        height: 5.5rem;
        padding-left: 2rem;
        border: 1px solid #000;
        @include respond(tab-land) {
        }
      }
      .input-field::placeholder {
        font-family: $secondary-font;
        color: #555;
        font-size: 1.6rem;
      }
      .Messages {
        padding-left: 2rem;
        width: 60rem;
        height: 15rem;
      }
      .Messages::placeholder {
        font-family: $secondary-font;
        color: #555;
        font-size: 1.4rem;
        padding-top: 1.4rem;
      }
    }
  }
}
