.lamp-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow: hidden;

  @include respond(tab-land) {
    display: flex;
    flex-direction: column-reverse;
    height: 160vh;
  }
  @include respond(phone) {
    display: flex;
    flex-direction: column-reverse;
    height: 175vh;
  }

  .image-box {

    @include respond(tab-land) {
height: 70vh;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .text-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 14rem;
    @include respond(tab-port) {
      height: 100%;
    }
    &__button-box {
      #check {
        appearance: none;
        cursor: pointer;
      }
      .small-p {
        position: absolute;
        top: 4rem;
        right: 4rem;
        font-family: $secondary-font;
        font-size: 1.6rem;
        letter-spacing: 1.8px;
        text-transform: uppercase;
        display: none;
        cursor: pointer;
        z-index: 200;
      }
      .cart {
        background-color: white;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100%;
        width: 40rem;
        right: -56rem;
        transition: right 500ms ease;
        z-index: 100;
        &__wrapper {
          padding: 1rem 1rem;
          &--h1 {
            display: flex;
            padding: 2rem 4rem;

            h1 {
              font-size: 3.4rem;
            }
          }
       
          &--cover {
            &--nav {
              border-bottom: 1px solid $color-background;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 2rem;
              
              &--image {
                flex: 2.5;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 2rem;
                height: 100%;
                .composition {
                  height: 8rem;
                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50rem;
                  }
                }
                .text {
                  .par {
                    font-size: 1.7rem;
                    font-family: $secondary-font;
                    margin-top: 1.5rem;
                  }
                  .par-small {
                    font-size: 1.5rem;
                    font-family: $secondary-font;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    line-height: 1.6;
                  }
                }
              }
              &--button-box {
                display: flex;
                align-items: flex-start;
                flex: 0.5;
                .select-btn-2 {
                  display: inline-block;
                  background-color: $color-white;
                  font-size: 1.3rem;
                  font-family: $secondary-font;
                  color: $color-border;
                  text-transform: uppercase;
                  padding: 1.2rem 2.4rem;
                  border: $color-border 1px solid;
                  border-radius: 2rem;
                }
              }
            }
            &--nav-2 {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 2rem 0;
            }
          }
        }
        &__bottom {
          padding: 2rem 2rem;
          margin-top: 44rem;
          border-top: $color-background 1px solid;
          display: grid;
          align-content: end;

          
          @include respond(big-phone) {
            margin-top: 55REM;
          }
          &--text-box {
            display: flex;
            justify-content: space-between;
            
            @include respond(big-phone) {
              margin-bottom: 2rem;
            }
            p {
              font-size: 1.7rem;
              font-family: $secondary-font;
              text-transform: uppercase;
            }
          }
          &--button-box {
            display: flex;
            justify-content: center;
            
            
            a {
              padding: 2rem 8.8rem;
              font-size: 1.2rem;
              margin-top: 1.4rem;
              @include respond(big-phone) {
                padding: 2rem 7rem;
                margin: 0 auto;
              }
            }
          }
        }

       &__backdrop{
          background-color: rgba(153, 153, 153, 0.5);
          height: 100vh;
          width: 100%;
          filter: blur(5px);
          position: fixed;
              top: 0;
              
              right: -100%;
              transition: 1000ms ease;
              // z-index: -9;
            }
          }
          
          #check:checked ~ .cart {
            right: 0 !important;
            .small-p{
              display: block;
              transition: right 500ms ease;
            }
            
          }
          
          #check:checked ~  .cart__backdrop{
        right: 0;
      }
    }
    @include respond(tab-land) {
      padding: 19rem 5rem;
    }
    .shop-nav {
      margin-top: 5rem;
      border-top: 0.7px solid $color-background;
      border-bottom: 0.7px solid $color-background;
      &__nav {
        padding: 2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;

        li {
          list-style: none;
          a {
            display: inline-block;
            color: $color-border;
            font-size: 1.5rem;
            font-family: $secondary-font;
            text-transform: uppercase;
            @include respond(big-phone) {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  
}

.info {
  padding: 19.8rem 26.1rem 9.7rem 20.9rem;
  background-color: $color-white;
  border-bottom: 1px solid $color-background;
  @include respond(tab-land) {
    padding: 4rem 12rem;
  }
  @include respond(tab-port) {
    padding: 4rem 9rem;
  }
  @include respond(big-phone) {
    padding: 4rem 5rem;
  }
  li {
    list-style: unset;
    padding-left: 1rem;
    margin-left: 3rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 8rem;

    @include respond(big-phone) {
      display: flex;
      flex-direction: column;

      br {
        display: none;
      }
    }
  }
}
