.about{
    padding: 12rem 15rem;
    border-bottom: $color-border 1px solid;
    &__main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 7.4rem;
        padding: 9rem 1rem;
       .composition{
        display: flex;
        flex-direction: column;
        .text{
            text-align: center;
        }
        img{
            width: 100%;
            border-radius: 50rem;
            margin-bottom: 3.2rem;
        }
       }
    }
}