.container {
  background-image: url(/assets/images/hero__img.png);
  background-size: cover;
  background-position: right;
  height: 130vh;
  @include respond(big-phone) {
        height: 100vh;      
  }
  .header {
    &__main {
      &--textbox {
       @include absCenter;
       text-align: center;
       padding-top: 16rem;
      }
    }
  }
}
