.navigation {
  
  padding: 5rem 6rem;
  font-family: $secondary-font;
  font-weight: 400;
  position: relative;
  color: $color-white;
  @include respond(tab-port) {
    display: none;
  }
  &.dark {
    color: $color-border;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--action {
      font-size: 1.4rem;
      color: inherit;
    }
    li a {
      font-size: 1.2rem;
      line-height: 175%;
      letter-spacing: 0.2em;
      font-weight: 400;
      color: inherit;
    }
    a{
      text-transform: uppercase;

    }
    &--logo {
      width: 7.5rem;
      @include absCenter;
      img {
        width: 100%;
      }
    }
    &--nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }
    &--items {
      display: flex;
      justify-content: center;
      align-items: center;
      &--input {
        display: none;
      }
      @include respond(tab-land) {
        &--input:checked + &--button {
          .navigation__nav--items--button--icon {
            transform: rotate(-45deg);

            &::after {
              width: 100%;
              transform: rotate(-270deg);

              top: 0;
            }

            
          }
        }
        &--button {
          display: block;
          width: 5rem;
          height: 1.3rem;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          &--icon {
            position: relative;
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-border;
            transition: trans;

            &::after {
              content: "";
              position: absolute;
              background-color: currentColor;
              transition: all 0.3s;
              width: 70%;
              top: 1.2rem;
              right: 0;
              display: block;
              height: 1px;
            }
          }
        }
      }

      &--button {
  
        width: 5rem;
        height: 1.3rem;
        cursor: pointer;
        // display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @include respond(tab-port) {
          display: block;
        }
        &--icon {
          position: relative;
          display: block;
          width: 100%;
          height: 1px;
          background-color: currentColor;

          &::after {
            content: "";
            position: absolute;
            background-color: currentColor;
            transition: all 0.3s;
            width: 70%;
            top: 1.2rem;
            right: 0;
            display: block;
            height: 1px;
          }
        }
      }
    }
  }
}

.mobile-navigation {
  display: none;
  position: fixed;
  padding: 5rem 6rem;
  font-family: $secondary-font;
  font-weight: 400;
  position: relative;
  color: $color-white;
  
  
  &.dark {
    color: $color-border;
  }
  &__nav {
   display: flex;
  //  justify-content: space-between;
   align-items: center;
   flex-direction: column;
   z-index: 2;
    a {
font-size: 3rem;
      line-height: 175%;
      letter-spacing: 0.2em;
      font-weight: 400;
      text-transform: uppercase;
      color: inherit;
      &:last-child{
        padding-bottom: 2rem;
    
      }
    }
    &--logo {
      width: 7.5rem;
      
      img {
        width: 100%;
      }
    }
&--nav{
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba($color-background, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  height: 100vh;
  width: 40rem;
right: -56rem;

  &--items {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
.number-con{
  height: 4rem;width: 4rem;
  border-radius: 50%;
  background-color: $color-white;
  position: relative;

  span{
    font-size: 2.4rem;
    color: $color-border;
    position: absolute;
    top: 50%;left: 50%;transform: translate(-50%, -50%);
  }

  
}

.number-con-black{
  height: 2rem;width: 2rem;
  border-radius: 50%;
  background-color: $color-border;
  position: relative;

  span{
    font-size: 1rem;
    color: $color-white;
    position: absolute;
    top: 50%;left: 50%;transform: translate(-50%, -50%);
  }
}
  }
}
  
    @include respond(tab-port) {
      &--input:checked + &--button {
        .mobile-navigation__nav--button--icon {
          transform: rotate(-45deg);

          &::after {
            width: 100%;
            transform: rotate(-270deg);

            top: 0;
          }
        }
      }
      &--input:checked ~ .mobile-navigation__nav--nav {
        right: 0 !important;
      }
      &__button {
        position: relative;
        display: block;
        width: 5rem;
        height: 1.3rem;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 10;
      
        &--icon {

          display: block;
          width: 100%;
          height: 1px;
          background-color: $color-border;

          &::after {
            content: "";
            position: absolute;
            background-color: currentColor;
            transition: all 0.3s;
            width: 70%;
            top: 1.2rem;
            right: 0;
            display: block;
            height: 1px;
          }
        }
      }
    }
    
    &--button {
      
      
      width: 5rem;
      height: 1.3rem;
      cursor: pointer;
      // display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      @include respond(tab-port) {
        display: block;
      }
      &--icon {
        position: relative;
        display: block;
        width: 100%;
        height: 1px;
        background-color: currentColor;

        &::after {
          content: "";
          position: absolute;
          background-color: currentColor;
          transition: all 0.3s;
          width: 70%;
          top: 1.2rem;
          right: 0;
          display: block;
          height: 1px;
        }
      }
    }
  }
}
#mobile-navigation__nav--button{
  display: none;
 }
@include respond(tab-port) {
  .mobile-navigation{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}