.navigation {
  // display: none;

  padding: 7rem 6rem;
  font-family: $secondary-font;
  font-weight: 400;
  position: relative;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--action {
      font-size: 1.8rem;
      color: $color-white;
    }
    li a {
      font-size: 1.6rem;
      line-height: 175%;
      letter-spacing: 0.25em;
      font-weight: 400;
      color: $color-white;
    }
    &--logo {
      width: 9.4rem;
      @include absCenter;
      img {
        width: 100%;
      }
    }
    &--nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }
    &--items {
      display: flex;
      justify-content: center;
      align-items: center;

      &__button{
        height: 5rem;
        width: 5rem;
        background-color: red;
        display: flex;justify-content: center;align-items: center;
        &--icon{
          display: block;
          height: 2px;
          width: 100%;
          background-color: $color-white;
          position: relative;
          
        }
      }
      
      }
      .navigation__button--icon::after{
        height: 2px;
        width: calc(100% + 20%);
      position: absolute;
      top: -2rem;
      }
      
}
}

